local/templates/aliskino/frontend/src/templates/dev.pug
doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Сайт находиться в разработке
    link(href="//test.aliskino.ru/local/templates/aliskino/frontend/build/css/dev.css", rel="stylesheet" )
  body
    .main
      .container
        .title(data-title='Сайт находиться в разработке')
          |Сайт находиться
          br
          |в разработке

local/templates/aliskino/frontend/build/dev.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сайт находиться в разработке</title>
    <link href="//test.aliskino.ru/local/templates/aliskino/frontend/build/css/dev.css" rel="stylesheet">
  </head>
  <body>
    <div class="main">
      <div class="container">
        <div class="title" data-title="Сайт находиться в разработке">Сайт находиться<br>в разработке</div>
      </div>
    </div>
  </body>
</html>
